
<h1>Hello {{name}}!</h1>
<!-- <button type="button" id = "click"> click </button> -->
<!-- <h3> Satellite Name: {{name}} </h3> -->
<h3> Satellite ID: {{id}} </h3>
<!-- <button type="button" id = "refresh"> Refresh Data </button> -->
<h3> Satellite Latitude: {{latitude}} </h3>
<h3> Satellite Longitude: {{longitude}} </h3>


<button type="button" id = "add"> Add Data </button>
